.box-one {
    background-color: red;
    padding: 20px;
    height: 100px;
    width: 100px;
    border: 30px solid pink;
    margin: auto;
}

.box-two {
    background-color: aqua;
    border: 10px solid blue;
    padding: 50px;
    height: 200px;
    width: 50px;
    margin: auto;
}
