html {
    font-size: 16;
    background-color: #84a9c0;
}

* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    background-color: #003d5b;
    color: ghostwhite;
    width: inherit;
    height: 4.5rem;
    display: flex;
    justify-content: start;
    align-items: center;
}

.header .headerTitle a {
    margin: 2rem;
    font-size: 2.5rem;
}

.header .headerLink a {
    margin: 2rem;
    margin-inline: 6rem;
    font-size: 1.5rem;
}

.body {
    background-color: #84a9c0;
    color: #252627;
    width: 100%;
    height: 93.5vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body * {
    margin: 2rem;
}

.body .bodyIntro {
    height: 10rem;
    background-color: #B3CBB9;
}